  
language: go

go:
- 1.12.x
- 1.13.x
- master

env:
  - GO111MODULE=on

script:
- go vet
- go test github.com/euclidr/prom-ngxlog-exporter/exporter -v -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)